NEXT_PUBLIC_VELUMN_URL=http://localhost:3000 #https://velumn.com
NEXT_PUBLIC_VELUMN_DASHBOARD_URL=http://localhost:3001 #https://dashboard.velumn.com
NEXT_PUBLIC_VELUMN_API_URL=http://localhost:8001 #https://api.velumn.com

# SHARED
DATABASE_URL=
NEXT_PUBLIC_DISCORD_CLIENT_ID=
NEXT_PUBLIC_POSTHOG_KEY=

#
# DASHBOARD
#
DISCORD_CLIENT_SECRET=
BETTER_AUTH_SECRET=
# payments
POLAR_ACCESS_TOKEN=
POLAR_WEBHOOK_SECRET=

#
# BOT
#
DISCORD_BOT_TOKEN=
# cloudflare r2
R2_ACCESS_KEY=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=
R2_BUCKET_NAME=
# search
MEILISEARCH_ENV=development #production
MEILISEARCH_MASTER_KEY=
MEILISEARCH_API_KEY=

# axiom loggin
AXIOM_TOKEN=
